*{
    padding: 0;
    margin: 0;
    border: 0;
}
/*обнуление всех отступов и границ*/

*,*:before,*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*меняет подсчет ширины блока для удобности */


:focus,:active{outline: none;}
a:focus,:active{outline: none;}
/*уераем линии обводки у некоторых браузерах */

nav, footer,header, aside{display: block;}
/* просто делаем теги блочными */


.notification{

    z-index: 10;
    width: 70%;
    height: 60%;
    position: absolute;
    background-color: rgb(223, 239, 250);
    box-shadow: 0px 3px 10px  rgb(216, 216, 216);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.notification-button{
    width: 40%;
    height: 15%;
}
.notification-close{
    z-index: -1;
    width: 0%;
    height: 0%;
    overflow: hidden;
    transition-duration: 0.3s;
}
#notification-img{
    width: 30%;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
}
#notificationp{
    text-align: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(240, 240, 240);
    width: 700px;
    height: 100%;
    box-shadow: 0px 3px 10px  rgb(216, 216, 216);
    border-radius: 5px;
}


html,body{
    touch-action: none;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* уравниваем поведение шрифтов для разных браузеров */

input,button,textarea,h2,h3{font-family: 'Open Sans', sans-serif;}
/* просто чтобы везде был один шрифт */

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: o;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* убираем особенности в разных браузерах */

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/* обнуляем зоголовки */



.choice{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
button{
    height: 60%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 4px  rgb(92, 92, 92);
    background-color: rgb(28, 170, 231);
    color: white;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}
.div-small-big{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.small-big{

    height: 100%;
    width: 10%;
    border-radius: 5px;
    box-shadow: 0px 1px 4px  rgb(92, 92, 92);
    background-color: rgb(28, 170, 231);
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.2s;
}

.flash{
    background-color: rgb(23, 139, 189);
}

.operatorChoice{
    display: flex;
}
.operatorChoice p{
    margin-right: 35px;
}

a{
    width: 20vw;
    height: 10vw;
    margin-bottom: 18vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.message-first{
    margin: 50px 0px 5px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}





body {
    /* padding: 20% 0; */
    font: 15px Open Sans;
}
.easy-basket-filter {
    width: 50%;
    position: relative;
}
.fill {
    height: 3px;
    width: 33%;
    background-color: rgb(28, 170, 231);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.easy-basket-filter-info {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    /* position: absolute;
    top: -50px; */
}
.easy-basket-filter-info p{
    color: #fff;
    padding: 2px 6px;
    background-color: rgb(28, 170, 231);
    border-radius: 4px;
    margin:0;
}
.easy-basket-filter-info .iLower{
    float:left;
    display: inline-block;
}
.easy-basket-filter-info .iUpper{
    float:right;
    display: inline-block;
}
.easy-basket-filter-info input{
    width: inherit;
    border: none;
    color: #fff;
    /* font: 11px Open Sans; */
    background-color: rgb(28, 170, 231);
    width: 30px;
    text-align:center;
}
/***** Position dual *****/
.range {
    position: absolute;
    left: 0;
    top: 0;
}

/****** Style range ******/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

input[type=range]:focus, input[type=text]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height:20px;
    width: 20px;
    border: 5px solid #f1f1f1;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    background: rgb(28, 170, 231);
    cursor: pointer;
    margin-top: -9px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #707D7D;
    border-radius: 1.3px;
}

input[type=range].lower::-webkit-slider-runnable-track {
    background: red;
}
.easy-basket-filter-ticks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5px;
    padding-top: 8px;
    font: 11px Open Sans;
    cursor: default;
    left: 0;
    bottom: 0;
    width: 100%;
}
.easy-basket-filter-ticks > div {
    height: 100%;
    width: 1px;
    background: #DDD;
    color: #888;
}
.easy-basket-filter-ticks > div:nth-child(10n - 9) {
    height: 150%;
}
.easy-basket-filter-ticks > div:nth-child(10n - 9)::before {
    display: block;
    content: attr(data-value);
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    text-align: center;
    width: 40px;
}



.easy-basket-filter-double {
    width: 50%;
    position: relative;
}
.fill-double {
    height: 3px;
    width: 38%;
    background-color: rgb(28, 170, 231);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.easy-basket-filter-info-double {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    /* position: absolute;
    top: -50px; */
}
.easy-basket-filter-info-double p{
    color: #fff;
    padding: 2px 6px;
    background-color: rgb(28, 170, 231);
    border-radius: 4px;
    margin:0;
}
.easy-basket-filter-info-double .iLower-double{
    float:left;
    display: inline-block;
}
.easy-basket-filter-info-double .iUpper-double{
    float:right;
    display: inline-block;
}
.easy-basket-filter-info-double input{
    width: inherit;
    border: none;
    color: #fff;
    /* font: 11px Open Sans; */
    background-color: rgb(28, 170, 231);
    width: 30px;
    text-align:center;
}
/***** Position dual *****/
.range-double {
    position: absolute;
    left: 0;
    top: 0;
}

/****** Style range ******/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

input[type=range]:focus, input[type=text]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height:20px;
    width: 20px;
    border: 5px solid #f1f1f1;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    background: rgb(28, 170, 231);
    cursor: pointer;
    margin-top: -9px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #707D7D;
    border-radius: 1.3px;
}

input[type=range].lower-double::-webkit-slider-runnable-track {
    background: red;
}
.easy-basket-filter-ticks-double {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5px;
    padding-top: 8px;
    font: 11px Open Sans;
    cursor: default;
    left: 0;
    bottom: 0;
    width: 100%;
}
.easy-basket-filter-ticks-double > div {
    height: 100%;
    width: 1px;
    background: #DDD;
    color: #888;
}
.easy-basket-filter-ticks-double > div:nth-child(10n - 9) {
    height: 150%;
}
.easy-basket-filter-ticks-double > div:nth-child(10n - 9)::before {
    display: block;
    content: attr(data-value);
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    text-align: center;
    width: 40px;
}



@media (max-width: 1200px) {
    a{
        width: 20vw;
        height: 10vw;
    }
}
@media (max-width: 992px) {
    main{
        width: 700px;
    }
    a{
        width: 24vw;
        height: 12vw;
    }
    button{
        font-size: 3vw;
    }
}
@media (max-width: 767px) {
    body{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    main{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    a{
        width: 44vw;
        height: 22vw;
    }
    button{
        font-size: 5vw;
    }
}

@media (min-width: 992px) {
    p{
        font-size: 2vw;
    }
}
@media (max-width: 992px) {
    p{
        font-size: 3vw;
    }
}
@media (max-width: 767px) {
    p{
        font-size: 4vw;
    }
    .easy-basket-filter {
        width: 85%;
    }
    .easy-basket-filter-double {
        width: 85%;
    }

    
}

@media (max-width: 540px) {
    p{
        font-size: 6vw;
    }
    .inputAnswer{
        height: 35px;
    }
}
