body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.notificationp{
    text-align: center;
    transition-duration: 0.5s;
}


.check-desire-button-place{
    display: flex;
    justify-content: space-around;
    height: 30%;
    width: 100%;
    margin: 2vw;
}
.check-desire-button{
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 8px;
    height: 100%;
    width: 20%;
    align-self: center;
    transition-duration: 0.4s;
}
.check-desire-button:active {
    transition-duration: 0.4s;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate(4px, 4px);
}


